.unnamed2.unnamed2 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.unnamed {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed4.unnamed4 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.unnamed3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed6.unnamed6 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
.unnamed5 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed8.unnamed8 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed7 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed10.unnamed10 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed9 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed12.unnamed12 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed11 {
  z-index: 0;
  width: initial;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock2 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed14.unnamed14 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed13 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed16.unnamed16 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed15 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed18.unnamed18 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed17 {
  z-index: 0;
  width: initial;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock3 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock4 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed20.unnamed20 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed19 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed22.unnamed22 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed21 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed24.unnamed24 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed23 {
  z-index: 0;
  width: initial;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock5 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock6 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed26.unnamed26 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed25 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed28.unnamed28 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed27 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed30.unnamed30 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed29 {
  z-index: 0;
  width: initial;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock7 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock8 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.unnamed32.unnamed32 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed31 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed34.unnamed34 {
  width: 113.4px;
  height: initial;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed33 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  z-index: 0;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.unnamed36.unnamed36 {
  width: initial;
  height: initial;
  flex: 1;
  align-self: stretch;
  align-items: center;
  background-color: #fff0;
}
.unnamed35 {
  z-index: 0;
  width: initial;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.textBlock9 {
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.textBlock10 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  font-family: Noto Sans JP, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
}
.root {
  position: relative;
  width: 1280px;
  height: 4529px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.contactme {
  position: absolute;
  left: 0;
  top: 3857px;
  width: 1280px;
  height: 672px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000;
}
.title {
  position: absolute;
  left: 50%;
  top: 81px;
  width: min-content;
  height: min-content;
  transform: translateX(-50%);
}
.unnamed37 {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.articles {
  position: absolute;
  left: 0;
  top: 3308px;
  width: 1280px;
  height: 549px;
  flex-direction: column;
  align-items: flex-start;
}
.title2 {
  position: absolute;
  left: calc(50% - 14px);
  top: 62px;
  width: min-content;
  height: min-content;
  transform: translateX(-50%);
}
.unnamed38 {
  color: #080808;
  font-size: 34px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.selfWorks {
  position: absolute;
  left: 0;
  top: 2261px;
  width: 1280px;
  height: 1047px;
  flex-direction: column;
  align-items: flex-start;
}
.work1 {
  position: absolute;
  left: 165px;
  top: 212px;
  width: 892px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
}
.buttonlink {
  position: absolute;
  left: 19px;
  top: 231px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #ffa217;
  box-shadow: 0px 8px 30px 0px #2ab0901a;
}
.unnamed39 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector {
  width: 5.8929px;
  height: 10px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.pLtag {
  position: absolute;
  left: 18px;
  top: 155px;
  width: 49px;
  height: 24px;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 60px;
  background-color: #fff6e9;
}
.ruby {
  color: #ffa217;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.langagetitle {
  position: absolute;
  left: 19px;
  top: 124px;
  width: min-content;
  height: min-content;
}
.unnamed40 {
  color: #080808;
  font-size: 20px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.introtext {
  position: absolute;
  left: 19px;
  top: 56px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.introtext2 {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: 421px;
  height: min-content;
  flex-direction: column;
}
.workname {
  position: absolute;
  left: 19px;
  top: 20px;
  width: min-content;
  height: min-content;
}
._2 {
  color: #080808;
  font-size: 24px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image2 {
  position: absolute;
  left: 417px;
  top: -127px;
  width: 480px;
  height: 480px;
  background-image:/* webpackIgnore: true */ url('/assets/image2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/work1img.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/work1img.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 30px 127px;
  mask-position: 30px 127px;
  -webkit-mask-size: 445px 300px;
  mask-size: 445px 300px;
}
.work2 {
  position: absolute;
  left: 166px;
  top: 585px;
  width: 892px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
}
.buttonlink2 {
  position: absolute;
  left: 19px;
  top: 231px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #ffa217;
  box-shadow: 0px 8px 30px 0px #2ab0901a;
}
.unnamed41 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector2 {
  width: 5.8929px;
  height: 10px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.pLtag2 {
  position: absolute;
  left: 18px;
  top: 155px;
  width: 49px;
  height: 24px;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 60px;
  background-color: #fff6e9;
}
.ruby2 {
  color: #ffa217;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.langagetitle2 {
  position: absolute;
  left: 19px;
  top: 124px;
  width: min-content;
  height: min-content;
}
.unnamed42 {
  color: #080808;
  font-size: 20px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.introtext3 {
  position: absolute;
  left: 19px;
  top: 56px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.introtext1 {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: 421px;
  height: min-content;
  flex-direction: column;
}
.workname2 {
  position: absolute;
  left: 19px;
  top: 20px;
  width: min-content;
  height: min-content;
}
._1 {
  color: #080808;
  font-size: 24px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image22 {
  position: absolute;
  left: 417px;
  top: -127px;
  width: 480px;
  height: 480px;
  background-image:/* webpackIgnore: true */ url('/assets/image22.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/work1img2.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/work1img2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 30px 127px;
  mask-position: 30px 127px;
  -webkit-mask-size: 445px 300px;
  mask-size: 445px 300px;
}
.title3 {
  position: absolute;
  left: calc(50% - 14px);
  top: 62px;
  width: min-content;
  height: min-content;
  transform: translateX(-50%);
}
.unnamed43 {
  color: #080808;
  font-size: 34px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.works {
  position: absolute;
  left: 0;
  top: 1338px;
  width: 1280px;
  height: 923px;
  flex-direction: column;
  align-items: flex-start;
}
.work3 {
  position: absolute;
  left: 160px;
  top: 191px;
  width: 897px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}
.buttonlink3 {
  position: absolute;
  left: 476px;
  top: 245px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #000aff;
  box-shadow: 0px 8px 30px 0px #000aff1a;
}
.unnamed44 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector3 {
  width: 5.8929px;
  height: 10px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.pLtag3 {
  position: absolute;
  left: 476px;
  top: 161px;
  width: 49px;
  height: 24px;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 60px;
  background-color: #fff6e9;
}
.ruby3 {
  color: #ffa217;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pLtag4 {
  position: absolute;
  left: 538px;
  top: 161px;
  width: 52px;
  height: 24px;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 60px;
  background-color: #fff6e9;
}
.rails {
  color: #ffa217;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.langagetitle3 {
  position: absolute;
  left: 474px;
  top: 126px;
  width: min-content;
  height: min-content;
}
.unnamed45 {
  color: #080808;
  font-size: 20px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.introtext4 {
  position: absolute;
  left: 476px;
  top: 67px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.web {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: 421px;
  height: min-content;
  flex-direction: column;
}
.workname3 {
  position: absolute;
  left: 474px;
  top: 21px;
  width: min-content;
  height: min-content;
}
.EC {
  color: #080808;
  font-size: 24px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image1 {
  position: absolute;
  left: -10px;
  top: -203px;
  width: 460px;
  height: 576px;
  background-image:/* webpackIgnore: true */ url('/assets/image1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/work4img.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/work4img.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 10px 203px;
  mask-position: 10px 203px;
  -webkit-mask-size: 445px 300px;
  mask-size: 445px 300px;
}
.work4 {
  position: absolute;
  left: 156px;
  top: 560px;
  width: 897px;
  height: 300px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
}
.buttonlink4 {
  position: absolute;
  left: 476px;
  top: 245px;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 10px;
  padding: 10px 24px;
  border-radius: 4px;
  background-color: #000aff;
  box-shadow: 0px 8px 30px 0px #000aff1a;
}
.unnamed46 {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.vector4 {
  width: 5.8929px;
  height: 10px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.pLtag5 {
  position: absolute;
  left: 476px;
  top: 161px;
  width: 49px;
  height: 24px;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 60px;
  background-color: #fff6e9;
}
.ruby4 {
  color: #ffa217;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.pLtag6 {
  position: absolute;
  left: 538px;
  top: 161px;
  width: 52px;
  height: 24px;
  align-items: flex-start;
  padding: 0 10px;
  border-radius: 60px;
  background-color: #fff6e9;
}
.rails2 {
  color: #ffa217;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.langagetitle4 {
  position: absolute;
  left: 474px;
  top: 126px;
  width: min-content;
  height: min-content;
}
.unnamed47 {
  color: #080808;
  font-size: 20px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.introtext5 {
  position: absolute;
  left: 476px;
  top: 67px;
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.web2 {
  color: #000;
  font-size: 14px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  width: 421px;
  height: min-content;
  flex-direction: column;
}
.workname4 {
  position: absolute;
  left: 474px;
  top: 21px;
  width: min-content;
  height: min-content;
}
.EC2 {
  color: #080808;
  font-size: 24px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.image12 {
  position: absolute;
  left: -10px;
  top: -203px;
  width: 460px;
  height: 576px;
  background-image:/* webpackIgnore: true */ url('/assets/image12.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/work4img2.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/work4img2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 10px 203px;
  mask-position: 10px 203px;
  -webkit-mask-size: 445px 300px;
  mask-size: 445px 300px;
}
.title4 {
  position: absolute;
  left: calc(50% - 14px);
  top: 62px;
  width: min-content;
  height: min-content;
  transform: translateX(-50%);
}
.unnamed48 {
  color: #080808;
  font-size: 34px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.profile {
  position: absolute;
  left: 0;
  top: 450px;
  width: 1280px;
  height: 888px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #080808;
}
.profile01 {
  position: absolute;
  left: 95px;
  top: 118px;
  width: 389.0051px;
  height: 390px;
  border-radius: 20px;
  background-image:/* webpackIgnore: true */ url('/assets/profile01.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.YatoSE2024 {
  position: absolute;
  left: 95px;
  top: 578px;
  width: 462px;
  height: 231px;
  flex-direction: column;
}
.textBlock11 {
  color: #9c9c9c;
  font-size: 20px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
}
.textBlock12 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
}
.textBlock13 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
}
.textBlock14 {
  margin-top: 0;
  color: #9c9c9c;
  font-size: 20px;
  line-height: 24px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
}
.unnamed49 {
  position: absolute;
  left: 630px;
  top: 199px;
  width: 617px;
  height: 567px;
  flex-direction: column;
}
.unnamed50 {
  height: min-content;
  align-self: stretch;
  background-color: #fff;
}
.unnamed51 {
  height: min-content;
  align-self: stretch;
}
.unnamed52 {
  height: min-content;
  align-self: stretch;
}
.unnamed53 {
  height: min-content;
  align-self: stretch;
}
.unnamed54 {
  height: min-content;
  align-self: stretch;
}
.unnamed55 {
  height: min-content;
  align-self: stretch;
}
.profile_title {
  position: absolute;
  left: calc(50% - 10px);
  top: 54px;
  width: min-content;
  height: min-content;
  transform: translateX(-50%);
}
.unnamed56 {
  color: #fff;
  font-size: 34px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 1280px;
  height: 450px;
  flex-direction: column;
  align-items: flex-start;
  background-color: #080808;
  overflow: hidden;
}
.unnamed57 {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 225px;
  top: 125px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.yatoLab {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
  font-family: Raleway, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 526px;
  top: 238px;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.topMenu {
  position: absolute;
  left: 25px;
  top: 380px;
  width: 1210px;
  height: min-content;
  align-items: flex-start;
  background-color: #2e2e2e;
}
.profile2 {
  width: 234px;
  height: 70px;
  flex-direction: column;
}
.unnamed58 {
  color: #9c9c9c;
  font-size: 32px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  flex: 1;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.groupDevelopments {
  width: 234px;
  height: 70px;
  flex-direction: column;
}
.unnamed59 {
  color: #9c9c9c;
  font-size: 32px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  flex: 1;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.selfDevelopments {
  width: 234px;
  height: 70px;
  flex-direction: column;
}
.unnamed60 {
  color: #9c9c9c;
  font-size: 32px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  flex: 1;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.article {
  width: 234px;
  height: 70px;
  flex-direction: column;
}
.unnamed61 {
  color: #9c9c9c;
  font-size: 32px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  flex: 1;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.contact {
  width: 274px;
  height: 70px;
  flex-direction: column;
}
.unnamed62 {
  color: #9c9c9c;
  font-size: 32px;
  font-family: IBM Plex Mono, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.01em;
  flex: 1;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
